@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:900);




.sign-form-body {
  margin-top: 20px!important;
  display:block;
  float: left;
  width: 40%;
  margin-left: 30%;


  .form-title {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 36px;
    margin: 20px 0 20px 0;
    letter-spacing: -1px;


    
  }

  form {


    
    

    input {
     width: 100%;
      height: 60px;
      box-sizing: border-box;
      background-color: rgb(246, 246, 246);
      border: none;
      border-radius: 1px;
      padding-left: 20px;
      font-family: georgia, sans-serif;
      font-size: 18px;
      margin-bottom: 14px;
      float: left;

    }
    .form-prefix {
      width: 23%;
      margin-right: 2%;
    }
    .form-suffix {
      width: 23%;
      margin-left: 2%;
    }
    .form-short {
      width: 75%;
      
    }


    button {
      height: 60px;
      background-color: #1F2610;
      border: none;
      width: 100%;
      border-radius: 3px;
      border-bottom: 4px solid #D6F2C2;
      color: #f9f9f9;
      font-family: 'Source Sans Pro', sans-serif;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 20px;
      margin-bottom: 14px;
    }
  }
  .sign-link-box {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #DAD9D7;
    display: table;

    p {
      display: table-cell;
      font-family: georgia, sans-serif;
      text-align: center;
      vertical-align: middle;

      a {
        color: black;

      }
    }
  }
}

input:focus {
  background: #DAD9D7!important;
}


