#main-background {
  width: 100%;
  display: block;
  height: 700px;
  overflow:hidden;
  background-image: url('bg.jpg'); 
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}