<div class="sign-form-body" class="nested-fields">
  <%= f.text_field :job_title, :placeholder => "** JOB TITLE => your official Job Title at the Org" %> 
  <%= link_to_remove_association "Remove Job Title", f %>

  
</div>
