 <p class="nested-fields">
 <div class="controls">

  <%#= f.text_field :is_relationship_current, :placeholder => "Is this your current employer?" %>

  <%= f.text_field :job_title, :placeholder => "Job Title" %>

  <%= f.fields_for :organization do |relationship_organization| %>
    <%= render 'organization_fields', f: relationship_organization %>
  <% end %>


</div>
</p>





