<div class="sign-form-body">
  

<h1 class="form-title">Log In</h1>

<form>

  
    
  
  <input type="text" placeholder="Your Username">
   
  <input type="text" placeholder="Your Password">  
  <button>Log In</button>

</form>
<div class="sign-link-box">
      <p>Don't have an account? <a ui-sref='signup'>Sign Up</a></p>
</div>


  
</div>