
<div class="sign-form-body">
  <h1 class="form-title">Sign Up</h1>


  
<form>
  
  <input type="text" placeholder='Prefix' class="form-prefix">
  <input type="text" placeholder='First Name' class="form-short">
    
  
  <input type="text" placeholder='Last Name' class="form-short">
  <input type="text" placeholder='Suffix' class="form-suffix" >
  <input type="text" placeholder="Your Email" >
    
  
  <input type="text" placeholder="Your Password">

  <input type="text" placeholder="Confirm Password">
    
  <button>Sign Up</button>
  
  
</form>
<div class="sign-link-box">
      <p>Already have an account, <a ui-sref="signin">Sign In</a></p>
</div>


  
</div>