<!DOCTYPE html>
<html>
<head>
  <title>Stratevarius</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div id="nav-hold">
    <h1 id="brand"><a href="home">Stratevarius</a></h1>
    <ul>
      <li><a href="executives">Strategic Advisors &amp; Consultants</a></li>
      <li><a href="executives">Startup Executives</a></li>
      <li><a href="signin">Sign In</a></li>
      <li><a href="signup">Sign Up</a></li>
    </ul>
  </div>
</nav>
<div id="style-block"></div>



<%= yield %>



</body>
</html>
