<!DOCTYPE html>
<html>
<head>
  <title>Stratevarius</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">

<nav>
  <div id="nav-hold">
    <h1 id="brand"><a ui-sref="main">Stratevarius</a></h1>
    <ul>
      <li><a ui-sref="executives">People</a></li>
      <li><a ui-sref="signin">Sign In</a></li>
      <li><a ui-sref="signup">Sign Up</a></li>
    </ul>
  </div>
</nav>
<div id="style-block"></div>



<%= yield %>



</body>
</html>
